dist/clang/patches/*.patch -diff -merge -text
.tag                    export-subst
.gitattributes          export-ignore
.gitignore              export-ignore
# OPENMV-DIFF #
*.inf                   binary
share/qtcreator/node/** binary
share/qtcreator/python/** binary
*.tflite                binary
# OPENMV-DIFF #
